<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxc.mettingroom.mettingroom.mapper.zoneMapper">

    <resultMap id="zone" type="com.jxc.mettingroom.mettingroom.model.zone">
        <result column="zoneId" jdbcType="BIGINT" property="id"/>
        <result column="zoneName" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="selectAllZone" resultMap="zone">
        select * from zone ;
    </select>
</mapper>